@import '../../../../../theming/design-tokens.scss';

:host {
    .main {
        height: 50%;
        .h5 {
            cursor: pointer;
        }

        .active {
            font-weight: 500 !important;
            color: black;
        }

        .image-bg {
            width: 50%;
            height: 50%;
        }
    }
}