@import './variables.scss';

@mixin badge-styles($bg-color) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 3rem;
    width: 3rem;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 100%;
    color: white;
    background-color: $bg-color;
}


@mixin buttonColor($color) {
    border: 1px solid $color;
    color: $color;
    background-color: transparent;
}

@mixin buttonRadius($radius) {
    border-radius: $radius;
}

@mixin fontSize($size) {
    font-size: $size;
}

@mixin buttonSpacing($spacing) {
    padding: $spacing;
}
