$color-grey: #9F9F9F;
$color-background: #F9F1E7;
$color-white: #FFFFFF;
$color-black: #000000;
$color-aqua-green: #2EC1AC;
$color-salmon: #E97171;
$color-lightgrey: #B0B0B0;
$color-gold: #ffd700;
$color-darkgold: #B88E2F;
$color-offwhite: #E0E0E0;
$color-almostblack: #3A3A3A;

$font-size-xxs: 0.75rem;
$font-size-default: 1rem;
$font-size-xs: 1.25rem;
$font-size-double: 2rem;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-mediumbold: 600;
$font-weight-semibold: 700;

$border-radius-none: 0;
$border-radius-default: 0.5rem;
$border-radius-large: 1rem;
$border-radius-half: 50px;
$border-radius-circle: 100%;

$btn-spacing-load: 1rem 4rem;
$btn-spacing-send: 1rem;
$btn-spacing-cart: 6px 30px;
